* {
  margin: 0px;
  padding: 0px;
  transition: all .5s ease;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #21253f;
  height: 100vh;
}
.container h1 {
  color: white;
  margin-bottom: 30px;
}
.container h1 b{
  background: #ff5722;
    background-image: linear-gradient(90deg,#FF5722 0%,#FFB74D 100%),linear-gradient(to bottom,rgba(240,40,40,0) 0%,rgba(240,40,40,0) 100%);
    padding: 5px 8px;
    border-radius: 7px;
}
.inputContainer {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.inputContainer div {
  display: flex;
  align-items: center;

}
.inputContainer h1 {
  font-size: 3.5rem;
  color: black;
  margin-bottom: 1.5rem;
}

.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}
.inputContainer div p {
  width: 200px;
  height: 20px;
}
.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(219, 213, 213);
  margin-right: 20px;
}
.inputContainer input::placeholder {
  font-size: 0.9rem;
}
.inputContainer button {
  padding: 0 1rem;
  height: 34px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  background: #21253f;
  border: none;
  cursor: pointer;
}
/* Domain Item */
.domain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.domain p {
  display: inline-block;
  width: 100px !important;
}
.domain input[type=radio] {
  display: none;
}
.domain input[type=radio]:checked + label {
  background-color: #21253f;
  color: #fff;
}
.domain input {
  background: #e1e1e1;
  border-radius: 3px;
  border: none;
  padding: 6px 11px;
  font-size: 24px;
  margin-bottom: 12px;
  margin-left: 4px;
}
.domain label {
  margin-left: 15px;
  display: inline-block;
  padding: 4px 11px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #e1e1e1;
}
/* Result */
.result {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 20px;
}
.result div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result div p {
  color: green;
  font-size: 24px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  text-decoration: underline;
}
.result button {
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background: #21253f;
  border: none;
}
.result button.copied {
  background: #21253f;
  color: white;
}
.noData {
  margin-top: 20px;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
}

